/osa06-Osa06_05.Links/target/
/osa06-Osa06_06.Registration/target/
/osa06-Osa06_07.ScoreService/target/
/osa07-Osa07_06.ReactiveWebService/target/
/osa07-Osa07_01.Calculator/target/
/osa07-Osa07_02.Books/target/
/osa07-Osa07_03.Tasks/target/
/osa07-Osa07_05.Calculations/target/
